
body {       
    margin: 0;
   padding: 0;
}
.wrapper {
    background-color: hsl(207, 26%, 17%);
    margin: 0;
   padding: 0;
   width: 100vw;
   position: relative;
   
}

.container {
    display: flex;
    flex-direction: row;
}
app-main-header {

}

nav {
    width: 100%;
}
.container {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr));
    gap: 15px;
   /* position: relative;
    gap: 15px;
    top: 28vh; */
    z-index: 1;
}

p {
    text-align: center;
    color: white;

}
.main {
 /*  margin: auto; */
 display: block;
    /* box-shadow: -1px 0px 0px rgba(0,0,0,0.96);
     border: 1px solid rgb(101, 107, 124);
    */
    width: 100%;
   
    border-radius: 10px;
}

img {
    width: 85%;
    display: block;
    margin: auto;
}

input[type="search"] {
    width: 90%;
    height: 10vh;
    border-radius: 10px;
    display: block;
    margin: 141px auto 0;
    text-align: center;
}

select.listContinents {
    display: block;
    margin: 5% auto;
    height: 7vh;
    width: 85%;
    border-radius: 10px;
    font-size: 12pt;
}

.details {    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 85%;
    margin: auto;
   background-color:  hsl(209, 23%, 22%);
}

/* ******************
header {
    height: 20vh;
    background-color: hsl(209, 23%, 22%);
    position: fixed;
    width: 100%;   
    top: 0;
    left: 0;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
}

.modeSelector {
    width: 25%;
    margin-left: auto;
}
h1 {
    width: 60%;
    text-align: center;
}
h1, h2 {
    font-size: medium;
}
********/