body {
    font-weight: 100;
    overflow-x: hidden;
}
.countryDetail {
    margin-top: 100px;
}
img {
    width: 75%;
    display: block;
    margin: auto;
}
button.btn.btn-outline-secondary {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 11%;
    width: 25%;
    height: 6vh;
    color: white;
    background-color: hsl(209, 23%, 22%);
    background-image: url("../../assets/arrow-left-solid.svg");
    background-repeat: no-repeat;
}

.countryInfor {
    margin: 7px auto;
    width: 100%;
    display: block;
    font-size: small;
}

.countryInfor h2 {
    margin-bottom: 15px;
}

.borders {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.borders button {
    display: block;
    width: 28%;
    height: 8vh;
    margin: 5px;
    font-size: small;
    background-color: hsl(209, 23%, 22%);
    border: 1px solid hsl(209, 23%, 22%);
    color: white;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.primaryCountryDetails {
    height: 25vh;
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    justify-content: space-between;
}

.secondaryCountryDetails {
    margin-top: 5%;
    padding-left: 9%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 15vh;
}

.mainDetails {
    padding-left: 10%;
}

.borderDetails {
    width: 100vw;
    margin: auto;
}

h4 {
    padding-left: 10%;
    padding-top: 10%;
}

@media screen and (min-width: 585px) {
    img, .countryInfor  {
        width: 60%;
    }
    button.btn.btn-outline-secondary {
        margin-left: 20%;
    }
    .borders {      
        justify-content: space-between;
        width: 70%;
    }
    .borderDetails {
        width: 75vw;        
    }
}

@media screen and (min-width: 830px) {
    img {
        width: 35%;
    margin: auto 0% auto 5%;
    }
    .countryInfor {
        margin: 0;
        width: 60%;
        padding-left: 5%;
        font-size: small;
    }
}

@media screen and (min-width: 1220px) {
    .countryDetail {
        margin-top: 140px;
        padding-top: 5%;
    }
    .borderDetails {
        grid-area: 2/1/2/3;
    }
    .countryInfor {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    button.btn.btn-outline-secondary {
        margin-left: 5%;
        width: 10%;
    }
    .borders {       
        width: 72%;        
    }
    .borders button {       
        width: 24%;
       /* height: 7vh; */     
        font-size: medium;
        margin: 6px 1px;
    }  
    h4 {
        padding-left: 3%;
        padding-top: 6%;
    }

}