<div class="countryDetail">
    <button class="btn btn-outline-secondary" (click)='onBack()'>
        Back
    </button>
    <div class="container">
        <img [src]="flag" alt="">
        <div class="countryInfor">
            <div class="mainDetails">
                <div class="primaryCountryDetails">
                    <h2>{{name}}</h2>
                    <p>Native name: {{nativeName}}</p>
                    <p>Population: {{population}}</p>
                    <p>Region: {{region}}</p>
                    <p>Sub region: {{subregion}}</p>
                    <p>Capital: {{capital}}</p>
                </div>
            </div>
            <div class="secondaryCountryDetails">
                <p>Top Level dormain{{tld}}</p>
                <div class="currency">
                    Currencies :
                    <span *ngFor="let myCurrent of resultCurrency">
                        {{myCurrent}},
                    </span>
                </div>
                <div class="langauges">
                    Languages:
                    <span *ngFor="let lang of resultLang">
                        {{lang}},
                    </span>
                </div>
            </div>
            <div class="borderDetails">  
                <h4>Border</h4>            
                <div class="borders" (click)="changeCountry()">                       
                    <button class="borderCty" *ngFor="let borderCountry of borderingCountries">                        
                        {{borderCountry}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>