body {
    font-weight: 100;
}
.countryDetail {
    margin-top: 100px;
}
img {
    width: 75%;
    display: block;
    margin: auto;
}
button.btn.btn-outline-secondary {
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 11%;
    width: 25%;
    height: 6vh;
    background-color: hsl(210, 3%, 31%);
    background-image: url("../../assets/arrow-left-solid.svg");
    background-repeat: no-repeat;
}

.countryInfor {
    margin: 33px auto 5%;
    width: 78%;
    display: block;
}

.countryInfor h2 {
    margin-bottom: 15px;
}

.borders {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.borders button {
    display: block;
    width: 40%;
    height: 7vh;
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (min-width: 585px) {
    img, .countryInfor  {
        width: 60%;
    }
    button.btn.btn-outline-secondary {
        margin-left: 20%;
    }
    .borders {      
        justify-content: space-between;
    }
}

@media screen and (min-width: 830px) {
    img {
        width: 40%;
    }
    .countryInfor {
        margin: 0;
        width: 60%;
        padding-left: 5%;
        font-size: small;
    }
}

@media screen and (min-width: 1220px) {
    .countryDetail {
        margin-top: 140px;
    }
    .countryInfor {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}