<div class="countryDetail">
    <button class="btn btn-outline-secondary" (click)='onBack()'>
        Back
    </button>
    <div class="container">       
        <img [src]="flag" alt="">
        <h2>{{name}}</h2>
        <p>Native name {{nativeName}}</p>
        <p>Population {{population}}</p>
        <p>Region{{region}}</p>
        <p>Sub region{{subregion}}</p>
        <p>Capital {{capital}}</p>
        <p>Top Level dormain{{tld}}</p>
        <div *ngFor="let current of currencies">Currencies 
            {{current}}
        </div>
        <p *ngFor="let lang of languages">Languages <span>{{lang}}</span> </p>

    </div>
</div>