/* You can add global styles to this file, and also import other style files 
@import '~bootstrap/dist/css/bootstrap.min.css'; */
@import '~font-awesome/css/font-awesome.min.css'; 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*
- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)
*/
 :root {
    --dark-mode-elements: hsl(209, 23%, 22%);
    --dark-mode-background: hsl(207, 26%, 17%);
    --dark-mode-text: hsl(0, 0%, 100%);
} 

body {
    /* background-color: var(--dark-mode-background); 
    color: white; */
    width: 100vw;
    overflow-x: hidden;
   
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

/* Theme section 
:root {
    
    --foreground-default: #08090a;
    --foreground-secondary: #41474d;
    --foreground-tertiary: #797c80;
    --foreground-quaternary: #f4faff;
    --foreground-light: #41474d;
  
    --background-default: #f4faff;
    --background-secondary: #a3b9cc;
    --background-tertiary: #5c7d99;
    --background-light: #ffffff;
  
    --primary-default: #5dfdcb;
    --primary-dark: #24b286;
    --primary-light: #b2ffe7;
  
   
    
    --background-tertiary-shadow: 0 1px 3px 0 rgba(92, 125, 153, 0.5);
  }
  
  body {
    background: var(--background-default);
  }
  
  html,
  body {
    margin: 0;
        padding: 0; 
    }
    */