 <header [ngClass]="{'lightMode': message, 'lightModeShadow': message}">
    <h1 [routerLink]="['/countries']" >Where in the world?</h1>
    <div class="modeSelector">       
        <img [class.lightMode]="lightMode" class="moon" src="../../assets/moon-solid.svg" alt=""   (click) = "toggleMode()" >
       
        <h2>{{lightMode ? "Light" : "Dark"}} Mode</h2>
    </div>
</header>


<!--
   <app-countries [lightMode] = "lightMode">{{lightMode}}</app-countries> 
<header>
    <nav>
        <fa-icon [icon]="faDollarSign"></fa-icon>
        
        <fa-icon [icon]="faLightbulb" (click)="toggleTheme()"></fa-icon>
      </nav> 
</header>
-->
<router-outlet [class.lightMode]="lightMode" class="lightMode"></router-outlet>