header {
    padding: 24px 0;
    background-color: var(--dark-mode-elements); /* hsl(209, 23%, 22%);*/
    position: fixed;
    width: 100%;   
    top: 0;
    left: 0;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 3px 4px 5px 10px var(--dark-mode-background);
}

.modeSelector {
    width: 40%;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 5%;
}
h1 {
    font-size: 18px;
    width: 60%;
    text-align: center;
    font-weight: 700;
}
h2 {  
    font-size: 15px;  
    font-weight: 100;
}
h1:hover {
    cursor: pointer;
    color: red;
}
.moon {
    width: 20px;
    padding-right: 5px;
    transform: rotate(330deg);
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(200%) contrast(102%);
}
/* .lightMode {
    background-color: white;
    color: black;
} */
.lightMode {
    --dark-mode-elements: hsl(0, 0%, 100%);
    --dark-mode-background: hsl(0, 0%, 100%);
    --dark-mode-text: hsl(200, 10%, 10%);
    color: black !important;
  
}
.lightModeShadow {
 box-shadow: -1px 6px 6px 2px hsl(0, 15%, 94%); 
}
img.lightMode {
    filter: invert(0%) sepia(9%) saturate(0%) hue-rotate(1deg) brightness(94%) contrast(123%);
}

@media screen and (min-width: 830px) {
    h1, h2 {
        font-size: 24px;
        text-align: left;
        margin-left: 7%;
        /* font-weight: 700; */
    }
}
